<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="upc.fib.victor.globetrotter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDbpsgSCgQRVdgn9qJmmickGwn54tXZsdQ" />

        <activity android:name=".Presentation.Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Presentation.Activities.RegisterActivity" />
        <activity
            android:name=".Presentation.Activities.ProfileActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".Presentation.Activities.EditProfileActivity" />
        <activity android:name=".Presentation.Activities.UserMapActivity" />
        <activity android:name=".Presentation.Activities.DiaryActivity" />
        <activity android:name=".Presentation.Activities.DiaryPageActivity" />
        <activity android:name=".Presentation.Activities.SearchActivity" />
        <activity android:name=".Presentation.Activities.FollowersActivity" />
        <activity android:name=".Presentation.Activities.FollowingActivity" />
        <activity android:name=".Presentation.Activities.InterestPointActivity" />
        <activity android:name=".Presentation.Activities.RecommendationsActivity"></activity>
    </application>

</manifest>